@{
    ViewBag.Title = "EditNote";
    ViewData.Add(new KeyValuePair<string, object>("ButtonText", "Save"));
}
}

<h2 class="text-primary m-bt">Edit Note</h2>


@Html.Partial("_NoteForm", ViewData)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
