@{
    ViewBag.Title = "CreateAddress";
    ViewData.Add(new KeyValuePair<string, object>("ButtonText", "Create"));
}

<h2 class="text-primary m-bt">Create Address</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

@Html.Partial("_AddressForm", ViewData)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}