@{
    ViewBag.Title = "Edit";
}

<h2 class="text-primary">Edit Address</h2>

@Html.Partial("_AddressForm")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}  