@{
    ViewBag.Title = "CreateCustomer";
    ViewData.Add(new KeyValuePair<string, object>("ButtonText", "Create"));
    ViewData.Add(new KeyValuePair<string, object>("Action", "Create"));
}

<h2 class="text-primary m-bt">Create Customer</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}


@Html.Partial("_CustomerForm", ViewData)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

